<head>
  <style>
    th, td { padding: 5px; } 
    h1 { color: #3300CC; font-weight:800; }
  </style>
</head>

<body>

<h1>Coaster Reviews</h1>

<table class="bg-primary">
  <tr>
    <th>Name</th>
    <th>Location</th>
  </tr>
  <% Coaster.all.each do |coaster| %>
   <tr>
     <td><%= link_to(coaster.name, coaster) %>&nbsp;&nbsp;</td>
     <td><%= coaster.location %></td>
   </tr>
  <% end %>
</table>
  
</body>