<head><style>th, td { padding: 5px; }</style></head>

<body>

<h1>Coaster Reviews</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Location</td>
  </tr>
  <% Coaster.all.each do |coaster| %>
   <tr>
     <td><%= link_to(coaster.name, coaster) %>&nbsp;&nbsp;</td>
     <td><%= coaster.location %></td>
   </tr>
  <% end %>
</table>
  
</body>