<p>
  <strong>Name:</strong>
  <%= @coaster.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @coaster.location %>
</p>

<p>
  <%= @coaster.description %>
</p>

<p>
  <img src= <%= img_url(@coaster) %> />
</p>